<div class="grad-edit">
	<h1>Editing Graduate</h1>

	<%= render 'form', graduate: @graduate %>

	<button class="btn btn-default"><%= link_to 'Show', @graduate %></button><br>
	<%= link_to 'Back', graduates_path %>
</div>