<h1>Editing Attendee</h1>

<%= render 'form', attendee: @attendee, event: @event, rsvp: @rsvp %>

<%= link_to "Delete Attendee", event_rsvp_attendee_path(@event, @rsvp, @attendee), method: :delete, class: "btn btn-danger" %>
<%= link_to 'Back To RSVP', edit_event_rsvp_path(@event, @rsvp) %>
