<h1>Add Attendee for <%= @rsvp.classmate.full_name %> RSVP</h1>

<%= render 'form', attendee: @attendee, event: @event, rsvp: @rsvp %>

<%= link_to 'Back to RSVP', edit_event_rsvp_path(@event, @rsvp) %>
