<div class="row">
  <h1>Class of <%= class_year %></h1>
  <div class="col-md-6">
    <h4>Signed up classmates</h4>
    <ul>
      <% classmates.each do |classmate| %>
        <li>
          <% if classmate.is_private %>
            <p><%= classmate.full_name %></p>
          <% else %>
            <p><%= link_to classmate.full_name, classmate_path(classmate) %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h4>All Graduates</h4>
    <ul>
      <% graduates.each do |graduate| %>
        <li><%= graduate.name %></li>
      <% end %>
    </ul>
  </div>
</div>
