<nav>
<ul>
  <li><%= link_to current_classmate.full_name, edit_classmate_registration_path(current_classmate) %></li>
  <li><%= link_to "Logout", destroy_classmate_session_path, method: :delete %>
<ul>
</nav>

<h1>Home</h1>

<h3>Events</h3>
<% @events.each do |event| %>
  <p><%= link_to "#{event.date.strftime("%m/%d/%y")} #{event.name}", event_path(event) %><p>
<% end %>
