<div class="rsvp-edit">
	<h1>Editing Rsvp</h1>

	<%= render 'form', rsvp: @rsvp, event: @event %>

<<<<<<< HEAD

<%= link_to 'Back', event_rsvp_path(@event, @rsvp) %>
=======
	<%= link_to 'Back', event_rsvp_path(@event, @rsvp) %>
</div>
>>>>>>> style
